header {
    background-color: blueviolet;
    padding: 20px;
}
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style-type: none;
    display: inline;
    margin: 20px;
    text-align: center;
    font-size: 1.2em;
    color: white;
}
a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
ul {
    margin-left: 35vw;
}
form {
    background-color: rgb(230, 235, 230);
    margin: 2vw auto;
    height: 400px;
    width: 600px;
    padding: 20px;
}
h1 {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input {
    padding: 10px 25px;
    font-size: 22px;
    margin-bottom: 40px;
    margin-left: 11vw;
    border: 0;
    border-bottom: 2px solid rgb(143, 153, 51);
    outline: none;
    border-radius: 20px;
}
.buton {
    background-color: red;
    padding: 20px 30px;
    color: white;
    margin-left: 16vw;
}
footer {
    background-color: rgba(61, 16, 16, 0.356);
    padding: 30px 40px;
    position: relative;
    bottom: 0;
}
a:hover {
    background-color: white;
    color: black;
    padding: 10px 17px;
}